<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% block head_tags %}{% endblock %}
    {% block main_css %}{% endblock %}
    {% block extra_css %}{% endblock %}
  </head>
  <body class="{% block bodyclass %}{% endblock %}">
    {% include 'includes/_navbar.njk' %}
    {% block header %}{% endblock %}
    {% block content %}{% endblock content %}
    {% include 'includes/_footer.njk' %}
    {% block main_js %}{% endblock %}
    {% block extra_js %}{% endblock %}
  </body>
</html>
