{% extends "_base.njk" %}
{% block content %}
  <!--Section Services-->
  <section class="section section-services bg-soft py-9">
    <div class="container">
      <div class="row">
        <div class="text-center col-lg-8 offset-lg-2 mb-35">
          <h2 class="display-6">Services FAQs</h2>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque distinctio a rerum natus rem aperiam dolore
            veritatis accusantium. Ut fugit nihil eaque culpa rerum voluptatem incidunt maxime dolorem dolores possimus!</div>
        </div>
        <div class="col-lg-6 mb-35">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne">
                  Who is Simpellab?
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Simple Pages (formerly trading as Darwin Web) was founded by Eva Pettifor in Humpty Doo, Darwin, Northern Territory
                    in 2004.
                  </p>
                  <p>With our move to Queensland in 2020, it was time to rename the business from Darwin Web to Simple Pages. The new name
                    reflects the simplicity of our projects as we don't take on large complex site builds.</p>
                  <p>Although we've changed our name and physical location of our desk, we still offer the same great service Australia
                    wide. Communicating via email, phone or video bridges the gaps so efficiently these days, and we continue to run our
                    online business as usual.</p>
                  <p>We have a carefully selected team of contractors including graphic designers, web developers and copywriters making
                    Simple Pages a virtual digital agency yet keeping our pricing affordable for small businesses.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo">
                  What size and type of websites do you design?
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the second item's accordion body.</strong>
                  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These
                  classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of
                  this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                  the
                  <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree">
                  What sort of clients do you work with?
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <strong>This is the third item's accordion body.</strong>
                  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These
                  classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of
                  this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                  the
                  <code>.accordion-body</code>, though the transition does limit overflow.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
