[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = ">=4.2.0"
djoser = "*"
celery = "*"
corepluslib = "*"
django-allauth = "*"
django-celery-beat = "*"
django-celery-results = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-environ = "*"
django-filter = "*"
django-import-export = "*"
django-widget-tweaks = "*"
django-oauth-toolkit = "*"
django-phonenumber-field = "*"
django-mptt = "*"
django-redis = "*"
django-cleanup = "*"
django-taggit = "*"
djangorestframework = "*"
djangorestframework-api-key = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
drf-spectacular-sidecar = "*"
easy-thumbnails = "*"
gunicorn = "*"
psycopg2 = "*"
sentry-sdk = "*"
redis = "*"
django-storages = {extras = ["google"], version = "*"}

[dev-packages]
black = {extras = [ "jupyter",]}
coverage = "*"
docutils = "*"
factory-boy = "*"
flake8 = "*"
flake8-debugger = "*"
ipython = "*"
isort = "*"
pre-commit = "*"
jupyter = "*"

[requires]
python_version = "3.10"
