<article id="post-{{ object.id }}" class="post card h-100">
  {% if object.thumbnail %}
    <img class="card-img-top" src="{{ object.thumbnail.url }}" alt="{{ object.title }}">
  {% endif %}
  <div class="post-body card-body p-35">
    <div class="post-meta d-flex">
      <div class="d-flex align-items-center mb-3">
        <span class="overflow-hidden me-3">
          <img class="avatar rounded-circle" width="48" height="48" src="{{ object.owner.avatar }}">
        </span>
        <h6 class="d-flex mb-0">
          <div class="me-auto">
            <div class="fw-bold mb-1">{{ object.owner.get_full_name }}</div>
            <div class="small">
              {{ object.published_at }}
              {% if object.category %}
                in
                <a href="{{ object.category.url }}">{{ object.category.name }}</a>
              {% endif %}
            </div>
          </div>
        </h6>
      </div>
    </div>
    <h2 class="post-title h5 fw-bolder">
      <a href="{{ object.url }}">{{ object.title|title }}</a>
    </h2>
    <div class="post-content">
      {{ object.content|safe|truncate(120) }}
    </div>
  </div>
  <div class="card-footer border-top d-flex">
    <div class="d-flex align-items-center flex-fill">
      {# <i class="mdi mdi-18px mdi-book-multiple-outline me-2"></i> #}
      <div class="small">
        {% for tag in object.tags.all %}
          <a class="d-inline-block px-2 py-1 bg-light border" href="{{ tag.url }}">{{ tag.name }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="d-flex align-items-center">
      <i class="mdi mdi-18px mdi-account-circle-outline me-2"></i>
      <span class="d-block">{{ object.view_count }} Readers</span>
    </div>
  </div>
</article>
