{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h1 class="display-7 text-center mb-4">{% trans "Set Password" %}</h1>
    <div class="row">
      <div class="col-md-8 offset-md-2 mx-auto">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
          {% csrf_token %}
          {% include 'account/snippets/form_error_list.html' with errors=form.non_field_errors %}
          {% for field in form %}
            {% include 'account/snippets/form_group.html' with field=field size='lg' %}
          {% endfor %}
          <input class="btn btn-primary" type="submit" name="action" value="{% trans 'Set Password' %}"/>
        </form>
      </div>
    </div>
{% endblock %}
