{% extends "account/base_profile.html" %}

{% load i18n %}

{% block page_title %}
<h1 class="display-4 font-baskerville">{% trans "Change Password" %}</h1>
{% endblock page_title %}

{% block body_container %}
    
  <div class="row">
    <div class="col-md-8">
      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
          {% csrf_token %}
          {% include 'account/snippets/form_error_list.html' with errors=form.non_field_errors %}
          {% for field in form %}
            {% include 'account/snippets/form_group.html' with field=field size='lg' %}
          {% endfor %}
          <div class="d-flex">
            <button class="btn btn-primary me-2" type="submit" name="action">{% trans "Change Password" %}</button>
            <a class="btn btn-secondary me-auto" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <a class="btn btn-secondary" href="{% url 'account_profile' %}">{% trans "Cancel" %}</a>
          </div>
      </form>
    </div>
  </div>

{% endblock %}
