<section class="side-widget tags-widget card bg-white mb-35">
  <div class="card-body p-35">
    <div class="d-flex mb-3 align-items-center">
      <h4 class="side-widget__title">Tags</h4>
      <div class="text-end small flex-fill">
        <a class="side-widget__link" href="/tag/">Show More
          <i class="mdi mdi-arrow-right"></i>
        </a>
      </div>
    </div>
    <div>
      <a class="tags-widget-item" href="#">Open Source</a>
      <a class="tags-widget-item" href="#">ERP</a>
      <a class="tags-widget-item" href="#">Project</a>
      <a class="tags-widget-item" href="#">Python</a>
      <a class="tags-widget-item" href="#">Django</a>
      <a class="tags-widget-item" href="#">CSS</a>
      <a class="tags-widget-item" href="#">Visual Studio</a>
      <a class="tags-widget-item" href="#">Flutter</a>
      <a class="tags-widget-item" href="#">Tutorial</a>
      <a class="tags-widget-item" href="#">CMS</a>
      <a class="tags-widget-item" href="#">Programming</a>
      <a class="tags-widget-item" href="#">Shell</a>
      <a class="tags-widget-item" href="#">Youtube</a>
    </div>
  </div>
</section>
