<div class="row mt-1 g-3">
  <div class="col-md-3">
    <label for="{{ field.name }}" class="form-label">{{ field.label }} {% if field.field.required %} <span class="text-danger">*</span> {% endif %}</label>
  </div>
  <div class="col-md-auto col-8">
    {% if size == 'lg' %}
      {% include 'account/snippets/form_control_lg.html' with field=field %}
    {% else %}
      {% include 'account/snippets/form_control.html' with field=field %}
    {% endif %}
  </div>
  <div class="col-md-auto col-4">
    {% if caption %}
      <label class="col-form-label">{{ caption }}</label>
    {% endif %}
  </div>
</div>
