{% extends 'account/base_profile.html' %}

{% load i18n theme_default_tags %}

{% block breadcrumb_items %}
  {% comment %} #TODO base url needed {% endcomment %}
  <li class="breadcrumb-item"><a href="/">{% trans "Home" %}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'account_profile' %}">{% trans "Profile" %}</a></li>
  <li class="breadcrumb-item" aria-current="user notifications">{% trans "Notifications" %}</li>
{% endblock breadcrumb_items %}

{% block page_title %}
<h1 class="display-4 font-baskerville">{% trans "Notifications" %}</h1>
{% endblock page_title %}

{% block body_container %}
<div class="notifications">
  <div class="mb-3 d-flex">
    <a href="{% url 'notifications:all' %}" class="btn btn-outline-primary me-2">
      {% trans "Show All" %}
    </a>
    <a href="{% url 'notifications:unread' %}" class="btn btn-outline-primary me-2">
      {% trans "Unread Notifications" %}
    </a>
    <a href="{% url 'notifications:mark_all_as_read' %}" class="btn btn-primary ms-auto">
      {% trans "Mark All as Read" %}
    </a>
  </div>
  <hr>
  {% for notice in notifications %}
    {% include 'notifications/broadcast.html' %}
  {% empty %}
    <div>{% trans "You don't have any notifications." %}</div>
  {% endfor %}
</div>
{% endblock body_container %}
