<section class="side-widget subscribe-widget card bg-special mb-35">
  <div class="card-body p-35">
    <h2 class="form-title lh-1 display-7 fw-light text-white mb-3">
      SUBSCRIBE <br/>
      TO OUR <br/>
      NEWSLETTER
    </h2>
    <div class="text-white">
      <form action="" class="mb-0">
        <input type="text" name="" id="" class="form-control border-warning bg-white bg-opacity-75 mb-2" placeholder="Email">
        <div class="description small text-white text-opacity-75 lh-sm mb-3">By clicking “Subscribe” I allow this site process my data for marketing purposes, including sending emails. To learn more about how we use your data, read our <a class="link-light" href="#"> Privacy Policy </a>. </div>
        <button class="btn btn-dark py-25 w-100 mb-0">Subscribe Now</button>
      </form>
    </div>
  </div>
</section>
