<section class="side-widget post-list-widget card bg-white mb-35">
  <div class="card-body p-35">
    <div class="d-flex mb-3 align-items-center">
      <h4 class="side-widget__title">Related Post</h4>
      <div class="text-end small flex-fill">
        <a class="side-widget__link" href="/tag/">Show More
          <i class="mdi mdi-arrow-right"></i>
        </a>
      </div>
    </div>
    <div>
      <div class="post-list-item mb-2">
        <a href="#" class="d-flex align-items-center">
          <img class="me-2" width="64" height="64" src="{{ object.thumbnail.url }}" alt="{{ object.title }}">
          <div>
            <small>24 Juni 2022</small>
            <h4 class="h6 m-0">Lorem ipsum dolor sit amet consectetur ...</h4>
          </div>
        </a>
      </div>
      <div class="post-list-item mb-2">
        <a href="#" class="d-flex align-items-center">
          <img class="me-2" width="64" height="64" src="{{ object.thumbnail.url }}" alt="{{ object.title }}">
          <div>
            <small>24 Juni 2022</small>
            <h4 class="h6 m-0">Aspernatur Quia Error Enim Nemo Libero Sed?</h4>
          </div>
        </a>
      </div>
      <div class="post-list-item mb-2">
        <a href="#" class="d-flex align-items-center">
          <img class="me-2" width="64" height="64" src="{{ object.thumbnail.url }}" alt="{{ object.title }}">
          <div>
            <small>24 Juni 2022</small>
            <h4 class="h6 m-0">Similique Expedita ID Adearum Quod Corporis!</h4>
          </div>
        </a>
      </div>
      <div class="post-list-item mb-2">
        <a href="#" class="d-flex align-items-center">
          <img class="me-2" width="64" height="64" src="{{ object.thumbnail.url }}" alt="{{ object.title }}">
          <div>
            <small>24 Juni 2022</small>
            <h4 class="h6 m-0">Veniam Eos Excepturi Maxime Alias!</h4>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
