

<div id="projectsSlider" class="splide" aria-labelledby="carousel-heading">
  <div class="splide__track mb-3">
    <ul class="splide__list">
      {% for object in slider_items %}
        <li class="splide__slide p-2">
          <article id="post-{{ object.id }}" class="post card h-100">
            {% if object.thumbnail %}
              {% image object.thumbnail fill-348x196 as thumbnail %}
              <img class="card-img-top" src="{{ thumbnail.url }}" alt="{{ object.title }}">
            {% endif %}
            <div class="post-body card-body p-35 text-center">
              <h2 class="post-title h5 fw-bolder">
                <a href="{{ object.url }}">{{ object.title }}</a>
              </h2>
              {% comment %} <div class="small mb-2">{{ object.owner }}</div> {% endcomment %}
              <div class="post-content">
                <div class="small mb-2">
                  {% for tag in object.tags.all %}
                    <a class="d-inline-block px-2 py-1 bg-light border" href="{{ tag.url }}">{{ tag.name }}</a>
                  {% endfor %}
                </div>
                <div class="mb-3">{{ object.content|safe|truncatechars:120 }}</div>
                
                <a class="btn btn-primary" href="{{ object.url }}">
                  <div class="d-flex align-items-center">
                    <i class="mdi mdi-18px mdi-rocket-launch-outline me-2"></i>
                    <span class="d-block">View Project</span>
                  </div>
                </a>
              </div>
            </div>
          </article>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
