

<div id="customerReviewsSlider" class="splide" aria-labelledby="carousel-heading">
  <div class="splide__track mb-3">
    <ul class="splide__list">
      {% for object in slider_items %}
      <li class="splide__slide p-2">
        <div class="card h-100">
          <div class="card-body text-center p-4">
            {% if object.photo %}
              {% image object.photo fill-46x46 as photo %}
              <img class="rounded-circle mb-2" width="46" height="46" src="{{ photo.url }}" alt="avatar">
            {% else %}
              <img class="rounded-circle mb-2" width="46" height="46" src="/img/avatars/avatar.png" alt="avatar">
            {% endif %}
            <div class="star-rating d-flex justify-content-center fs-4 text-special">
              <i class="mdi mdi-star"></i>
              <i class="mdi mdi-star"></i>
              <i class="mdi mdi-star"></i>
              <i class="mdi mdi-star"></i>
              <i class="mdi mdi-star"></i>
            </div>
            <h4 class="h5 mb-1 me-auto fw-bold">{{ object.name }}</h4>
            <div class="small mb-3">Posted on
              <a class="fst-underline" href="#">{{ object.created_at }}</a>
            </div>
            <div>{{ object.content|safe|truncatechars:150 }}</div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
