{% extends "base.html" %}
{% load i18n static theme_default_tags %}

{% block main_css %}
  {{ block.super }}
{% endblock main_css %}

{% block top_js %}
  {{ block.super }}
{% endblock top_js %}

{% block main_js %}
  {{ block.super }}
{% endblock main_js %}

{% block navbar %}
  {% include 'includes/navbar.html' %}
{% endblock navbar %}

{% block page_header %}
  <section class="bg-primary text-white pt-4 pb-4">
    <div class="{% block page_header_container_class %}container{% endblock %}">
      <div class="row">
        <div class="col-md-12">
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              {% block breadcrumb_items %}{% endblock breadcrumb_items %}
            </ol>
          </nav>
        </div>
        <div class="col-lg-12 text-center text-lg-start">
          {% block page_title %}
            <h1 class="display-4 font-baskerville">{% firstof page.title title %}</h1>
          {% endblock page_title %}
          {% block page_summary %}
            <div class="">
              {% if page.summary %}
                {{ page.summary|safe }}
              {% else %}
                {{ page.content|safe }}
              {% endif %}
            </div>
          {% endblock page_summary %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block breadcrumbs_wrapper %}{% endblock %}

{% block messages_wrapper %}
  {% if messages %}
  <!-- MESSAGES -->
  <section class="section section-messages mb-4">
    {% for message in messages %}
    <div class="p-3 mb-3 shadow-sm alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message|capfirst }}
      <button type="button" class="btn-close btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  </section>
  <!-- MESSAGES -->
  {% endif %}
{% endblock %}

{% block footer %}
  {% include 'includes/footer.html' %}
{% endblock footer %}
